<!-- <router-outlet></router-outlet> -->

<h1 style="margin: 10%"></h1>
<div style="height:auto; display:flex;justify-content:center;align-items:center;flex-wrap: wrap; flex-direction:row">
  <div *ngFor="let final of finalData; let i = index" class="card">
    <div id="main">
      <img src={{final.url}} alt="No Image">
      <div>Author: {{final.author}}</div>
      <div>Comments: {{final.comment}}</div>
      <div>Upvotes: {{final.upv}}</div>
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" (click)="showData(i)" data-target="#myModal">Details</button>
    </div>
  </div>
    <!-- <div class="row" style="border:solid green 2px;">
    <tr *ngFor="let final of finalData; let i = index">
  <div  id="main">

           <div class="thumbnail">

           <img src={{final.url}} alt="Card Thumbnail" style="padding: 0px; margin-top: 5px;">
               <div class="caption">
                 <h6>Author: {{final.author}}</h6>
                 <h6>Comments: {{final.comment}}</h6>
                 <h6>Upvotes: {{final.upv}}</h6>
                 <button type="button" class="btn btn-info btn-lg" data-toggle="modal" (click)="showData(i)" data-target="#myModal">Details</button>

             </div>
           </div>

         </div>
        </tr>
</div> -->
</div>




<div id="myModal" style="text-align:center;"class="modal fade" role="dialog" *ngIf="modalData">
    <div class="modal-dialog modal-lg">
        titletitle
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title" style="text-align: left">By Reddit Author: {{modalData.author}}</h4>
        </div>
        <div class="modal-body">
            <img src={{modalData.fullImage}} alt="No Image Available" style="height: 600px; width: 500px;position: center;">
            <p style="font-size: 25px">{{modalData.title}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
